<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Производственный маршрут</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 accent"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Производственный маршрут</h3>
                <div class="row mb-5px">
                    <div class="col">Название</div>
                    <div class="col">Количество</div>
                    <div class="col">Время выполнения</div>
                    <div class="col">Дедлайн</div>
                    <div class="col-auto">
                        <button style="opacity: 0" class="btn btn-outline-primary" type="submit">Добавить</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/sales/add" method="post">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" name="name" required>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="number" step="1" min="1" name="quantity" required>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="time" name="time" required>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="date" name="deadline" required>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-primary" type="submit">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row mb-5px">
                    <div class="col">Название</div>
                    <div class="col">Количество</div>
                    <div class="col">Время выполнения</div>
                    <div class="col">Дедлайн</div>
                    <div class="col">Статус</div>
                    <div class="col-auto">
                        <a style="opacity: 0" class="btn btn-outline-primary">Запланировано</a>
                    </div>
                    <div class="col-auto">
                        <a style="opacity: 0" class="btn btn-outline-primary">Следующий период</a>
                    </div>
                </div>
                <div th:each="i : ${sales}" th:if="${i.status.name() == 'GENERATED'}" class="row mb-5px">
                    <div class="col">
                        <input th:value="${i.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.quantity}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.time}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.deadline}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.status.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/planned'">Запланировано</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/next'">Следующий период</a>
                    </div>
                </div>
                <div th:each="i : ${sales}" th:if="${i.status.name() == 'NEXT_PERIOD'}" class="row mb-5px">
                    <div class="col">
                        <input th:value="${i.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.quantity}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.time}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.deadline}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.status.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/planned'">Запланировано</a>
                    </div>
                    <div class="col-auto">
                        <a style="opacity: 0" class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/next'">Следующий
                            период</a>
                    </div>
                </div>
                <div th:each="i : ${sales}"
                     th:if="${i.status.name() != 'GENERATED' and i.status.name() != 'NEXT_PERIOD'}"
                     class="row mb-5px">
                    <div class="col">
                        <input th:value="${i.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.quantity}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.time}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.deadline}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col">
                        <input th:value="${i.status.name}" class="form-control" type="text" readonly>
                    </div>
                    <div class="col-auto">
                        <a style="opacity: 0" class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/planned'">Запланировано</a>
                    </div>
                    <div class="col-auto">
                        <a style="opacity: 0" class="btn btn-outline-primary" th:href="'/sales/' + ${i.id} + '/next'">Следующий
                            период</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>